.footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #41af5c;
    color: #fff;
}

.footer span {
    font-weight: bold;
    color: #fff;
}